@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo{
    display: flex;
    color: white;
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF;
    align-items: center;
    margin: 0px 14px;
    margin-right: 40px;    
    font-family: 'Lobster', cursive;
}

#logo img{
    height: 42px;
    filter: invert(1);
}

#navbar{
    background-color: #777373d4;    
    padding: 7px 13px;   
    font-family: 'Alfa Slab One', cursive;    
}


#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    padding: 13px 31px;
    color: white;
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF;
}

#navbar ul li a:hover{
    text-decoration: none;
    padding: 13px 31px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    color: rgb(179, 179, 179);
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF;
}


#introSection{
    height: 344px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF;
    padding-bottom: 40px;
}

#introSection div.small{
    font-size: 25px;
}

#missionSection{
    height: 300px;
    background-color: #e2ddddd4;
    
}

#missionSection h2{
    text-align: center;
    padding-top: 24px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
    font-size: 28px;
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF; 
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 14px;
    width: 26%;
    margin: 30px 48px;
    height: 200px;
    background-color: #aaa8a8c7;
}

.card h3{
    text-align: center;
    margin: 12px;
    font-family: 'Lobster', cursive;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-content{
    padding: 5px;
}

.card-img{
    height: 100px;
    padding: 0px 8px;
    margin: 29px 8px;
}

.card-img img{
    height: inherit;
}

#sponsorSection{
    height: 300px;
    background-color: #7773735e;    
}

#sponsorSection h2{
    text-align: center;
    padding-top: 24px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
    font-size: 28px;
    text-shadow: 0 0 3px #020000, 0 0 5px #0000FF; 
}

#sponsors{
    height: 191px;
    max-width: 1000px;
    margin: 23px auto
}

.spImage{
    height: 80%;
    margin: 27px;
}

   

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    height: 30px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}